.footer{
    height:50px;
    border-top:1px solid steelblue;
    background:#3b362a;
    margin-top:20px;
    margin-left: 0;
}
.footer span{
  color:steelblue;
}

table th{
    text-align: center;
}
table td {
    font-size: 12px;
    text-align: center;
}
.rippleCount{
    float:right;
    color:red;
}
.rippleContent{
    border: 1px solid royalblue;
    border-radius: 5px;
    margin-bottom: 20px;
    padding:5px;
}

.subject{
    font-size: 11px;
    display: none;
}
.content{
    font-size: 11px;
    display: none;
}
@media screen and (max-width: 568px) {
    .lmenu {
        display: none
    }

    .griditem{
        list-style: none;
        width:100%;
        height: auto;
        margin-bottom: 40px;
    }
    .carousel-item img{
        height: auto;
    }

    .carousel-item img.demo2{
        height: 330px;
    }

    #latest_article div{
        margin-bottom: 30px;

    }

    #latest_article h4{
        border-bottom: 1px solid #1f3c52;
        padding:5px;
    }
    #latest_article div ul{
        clear: both;
    }
    #latest_article div ul li{
        margin-bottom: 5px;
    }
    #latest_article div ul li span{
        color:#4d4d4d;
        font-size: 12px;
        float: right;
    }
}

@media screen and (min-width: 569px) {
    .griditem{
        list-style: none;
        width:310px;
        height: auto;
        margin-bottom: 40px;
    }
    .carousel-item img{
        height: 500px;
    }
    .carousel-item img.demo2{
        height: 400px;
    }

    #latest_article div{
        margin-bottom: 30px;
    }
    #latest_article h4{
        border-bottom: 1px solid #1f3c52;
        padding:5px;
    }
    #latest_article div ul{
        clear: both;
    }
    #latest_article div ul li{
        margin-bottom: 5px;
    }

    #latest_article div ul li span{
        color:#4d4d4d;
        font-size: 12px;
        float: right;
    }
}

.grid{
    width:100%;
    max-width: 100%;
    text-align: center;
    display: flex;
}
img{
    width:100%;
    display: inline-block;
    height: auto;
}
.griditem{
    list-style: none;
    width:210px;
    margin-bottom: 40px
}

.grid ul{
    width:100%;
}


.ticker {
    width: 100%;
    overflow: hidden;
    border: 1px solid #DDD;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #DDD;
}

#ticker {
    height: 380px;
}

.ticker li {

    height: 50px;
    border-bottom: 1px dotted #DDD;
    padding: 7px;
    margin: 0px 5px;
}

.ticker li a{
    color:#1f394d;
    font-size: 13px;
}